.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
/* Sidebar closed */
.sidebar-closed {
  transform: translateX(-100%);
}

/* Sidebar open */
.sidebar-open {
  transform: translateX(0);
}

/* Sidebar content styling */
.sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 20px 15px;
}
.sidebar-header button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}
/* Menu list */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  border-bottom: 1px solid #eee; /*Separator line*/
}
.sidebar-menu li:last-child a {
  border-bottom: none;
}
.sidebar-menu li a:hover {
  background-color: #f0f0f0;
  color: #41a67e;
}
