.dates-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Tamang 7 columns */
  gap: 5px;
  margin-top: 10px;
}

.date-cell {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 50%;
  transition: 0.2s;
}

.date-cell.empty {
  cursor: default; /* Hindi clickable ang blank spaces */
}

.date-cell:hover:not(.empty) {
  background-color: #f0f7ff;
}

.active-day {
  background-color: #3b82f6 !important;
  color: white !important;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(59, 130, 246, 0.5);
}
